name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      release_core_ui:
        description: Release Core-UI
        required: true
        default: "minor"
        type: choice
        options:
        - major
        - minor
        - patch
      release_types:
        description: Release type
        required: true
        default: "minor"
        type: choice
        options:
        - major
        - minor
        - patch  
      target_branch:
        description: Branch to release
        required: true
        default: main
        type: string

permissions:
  actions: write
  contents: write

jobs:
  initialize:
    runs-on: ubuntu-20.04
    outputs:
      release_types: ${{ env.release_types }}
      release_core_ui: ${{ env.release_core_ui }}
      target_branch: ${{ env.target_branch }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.target_branch || github.ref_name }}
        token: ${{ secrets.KIALI_PROJECT_TOKEN || github.token }}
  publish_types:
    needs: [initialize] 
    uses: ./.github/workflows/release-types.yml
    with:
      target_branch: ${{ github.event.inputs.target_branch || github.ref_name }}
      release_types: ${{ github.event.inputs.release_types }}
  publish_core_ui:
    needs: [initialize, publish_types]    
    uses: ./.github/workflows/release-core-ui.yml
    with:
      target_branch: ${{ github.event.inputs.target_branch || github.ref_name }}
      release_core_ui: ${{ github.event.inputs.release_core_ui }}
